h1 {
    position: relative;
    padding-top: 50px;
    padding-right: 60px;
    margin-top: 90px;
    color: red;
    border: 2pt black solid; 
}
h1{
    position: absolute;
    margin-right:20px;
    margin-bottom: 30px;
}

p{  
    border: 2pt black solid;
}